{% extends 'base.html' %}
{% block content %}

<center>
    <div>
      <table class="table table-bordered" id='log'>
          <caption .h1>Messages</caption>
            <thead>
                <tr class="table-primary">
                    <th scope = 'col'>Time</th>
                    <th scope = 'col'>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>03-05-2018 13:55:48</td>
                    <td>Example message</td>
                </tr>
            </tbody>
        </table>        
    </div>
</center>

{% endblock %}